{% extends 'app_general/components/base.html' %}
{% block site_title %}{{food.title}} | {% endblock %}
{% block content %}

{% if food is not None %}
<div>
    <h3>{{food.title}}</h3>
    <p>{{food.price}} บาท</p>
    {% if food.is_premium %}
    <p>*** เมนูพิเศษสุด Premium</p>
    {% endif %}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio cupiditate, placeat accusantium amet sapiente eius
        neque assumenda? Quibusdam porro nam sunt nesciunt ea, impedit provident enim excepturi perferendis at dolorum.
    </p>
</div>
{% else %}
<p>ไม่มีข้อมูล</p>
{% endif %}
{% endblock %}