<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods</title>
</head>
<body>
    <header>
        <a href="#" style="background-color: lightgray">จันทร์ไรเดอร์</a>
        <a href="#">เมนูทั้งหมด</a>
        <a href="#">เกี่ยวกับ</a>
    </header>
    <div>
        <h2>food id: {{food_id}}</h2>

    </div>
    <footer style="background-color: lightgray">
        <h5>
            <p>
                <a href="#">Facebook</a>
                <a href="#"> Twitter </a>
                <a href="#">Instagram</a>
            </p>
            <p>Copyright 2021-2022 Junraider. All right reserved.</p>
        </h5>
    </footer>
</body>
</html>